Repository karinehei/TherapyCare: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format

frontend-lint:
  name: frontend eslint
  entry: npm run lint --prefix frontend
  language: system

frontend-format:
  name: frontend prettier
  entry: npm run format --prefix frontend
  language: system

Fix health command syntax in CI workflow for PostgreSQL service
  .github/workflows/ci.yml
Due: none

Update CI workflow to install dependencies without root package
  .github/workflows/ci.yml
Due: none

Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

Refactor CI workflow to remove node_modules caching and ensure deterministic dependency installation
  .github/workflows/ci.yml
Due: none

Update pyproject.toml to refine exclusion patterns for code formatting tools, adding additional directories to the exclude list for better management of generated files.
  backend/pyproject.toml
Due: none

Update Dockerfile to use a slimmer Node.js base image for improved build efficiency and reduced image size.
  frontend/Dockerfile
Due: none

Update Vite configuration to include unit/integration test files and exclude e2e tests and node_modules for better test management.
  frontend/vite.config.ts
Due: frontend-lint, frontend-format

Update package-lock.json to include resolved URLs and integrity hashes for various dependencies, ensuring accurate package management and security verification.
  frontend/package-lock.json
Due: frontend-format

Refactor AppointmentViewSet to improve code readability by formatting the appointment query for better clarity.
  backend/appointments/views.py
Due: none

Refactor AuthContext and AppointmentsPage: add ESLint directive to useAuth function and initialize EMPTY_APPOINTMENTS constant for improved default handling of appointment results.
  frontend/src/auth/AuthContext.tsx
  frontend/src/pages/AppointmentsPage.tsx
Due: frontend-lint, frontend-format

Update TypeScript configuration: enable declaration file generation and emit only declarations in tsconfig.node.json for improved type support.
  frontend/tsconfig.node.json
Due: frontend-format

Enhance README.md: Add notes on using Docker Compose for service execution, clarify backend formatting exclusions in CI, and document Dependabot configuration for dependency management.
  README.md
Due: none

Update Vite configuration: add proxy settings for "/static" endpoint to enhance API routing capabilities.
  frontend/vite.config.ts
Due: frontend-lint, frontend-format

Add requirements.txt: Introduce core dependencies for the backend, including Django, DRF, and database support, to facilitate installation when Poetry is unavailable.
  backend/requirements.txt
Due: none

Enhance README files: Add setup instructions for backend without Poetry, clarify admin access details, and update demo credentials section for improved user guidance.
  README.md
  backend/README.md
Due: none

Refactor load_test_therapists.py: Improve readability by adding whitespace for clarity and restructuring the p95_ms calculation logic.
  backend/scripts/load_test_therapists.py
Due: none

Update README.md: Change CI badge URL to reflect new repository owner and add an Admin section with a demo GIF for managing referrals, appointments, and patient profiles via the Django Daisy admin.
  README.md
  docs/admin.gif
Due: none

Update README.md: Remove outdated CI badge instruction, replace admin GIF with a PNG, and add API section with OpenAPI documentation details and a new API documentation image.
  README.md
  docs/admin.gif
  docs/admin.png
  docs/api-docs.png
Due: none

Update README.md: Add documentation directory for screenshots and SECURITY.md, and reorganize CI workflows under the .github directory.
  README.md
Due: none

Add LICENSE file and update README.md to include license information: Introduce the MIT License and provide a link to the LICENSE file in the README, along with a badge for the license type.
  LICENSE
  README.md
Due: none

Update README.md: Change copyright year from 2025 to 2026 for the MIT License section.
  README.md
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(ts|tsx)$
  frontend-format: any of: ^frontend/.*\.(ts|tsx|css|json)$
